<ion-view title="Available Locally" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="availableLocally-list3" class=" ">
<!--
            <ion-item class="item-icon-left  " id="availableLocally-list-item9" ui-sref="tabsController.showItem">
                <i class="icon ion-beer"></i>Orval</ion-item>
            <ion-item class="item-icon-left  " id="availableLocally-list-item10" ui-sref="tabsController.showItem">
                <i class="icon ion-beer"></i>Item</ion-item>
            <ion-item class="item-icon-left  " id="availableLocally-list-item11" ui-sref="tabsController.showItem">
                <i class="icon ion-beer"></i>Item</ion-item>
            <ion-item class="item-icon-left  " id="availableLocally-list-item12" ui-sref="tabsController.showItem">
                <i class="icon ion-beer"></i>Item</ion-item>
            <ion-item class="item-icon-left  " id="availableLocally-list-item13" ui-sref="tabsController.showItem">
                <i class="icon ion-beer"></i>Item</ion-item>
-->
            <ion-item class="item-icon-left energized  " id="topList-list-item24" ui-sref="tabsController.showItem" ng-repeat="beer in localBeer track by $index" >
                <i class="icon ion-beer"></i>{{ beer.name }} {{ beer.brewery }} {{ beer.rating }}</ion-item>

        </ion-list>
    </ion-content>
</ion-view>