<ion-view title="Systembolaget: Beställa Online" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="availableOnline-list4" class=" ">
            <ion-item class="item-icon-left darkness  " id="topList-list-item24" ui-sref="tabsController.showItem" ng-repeat="beer in systembolagetMatchedBeer track by $index" ng-click="showBeer(beer)">
                <i class="icon ion-beer"></i>{{ beer.name }} — {{ beer.brewery }}</ion-item>
        </ion-list>
		<div class="card">
		  <div class="item item-text-wrap">
		    Antal öl tillgängliga att beställa på Systembolaget: <b>{{ systembolagetMatchedBeer.length }}</b> st.
		  </div>
		</div>
    </ion-content>
</ion-view>