<ion-view title="Available Online" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="availableOnline-list4" class=" ">
            <ion-item class="item-icon-left energized  " id="topList-list-item24" ui-sref="tabsController.showItem" ng-repeat="beer in systembolagetMatchedBeer track by $index" ng-click="showBeer(beer)">
                <i class="icon ion-beer"></i>{{ beer.name }} {{ beer.brewery }} {{ beer.rating }}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>