<ion-view title="" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="showItem-heading1" class=" ">{{ beer.name }}</h3>
        <h5 id="showItem-heading3" class=" ">{{ beer.brewery }}</h5>
        <div class="rating">
        	<div class="stars">
		 	<span class="star on" ng-repeat="i in getNumber(stars) track by $index"></span><span class="star half" ng-repeat="i in getNumber(half) track by $index"></span><span class="star threeQuarter" ng-repeat="i in getNumber(threeQuarter) track by $index"></span><span class="star quarter" ng-repeat="i in getNumber(quarter) track by $index"></span><span class="star" ng-repeat="i in getNumber(unlit) track by $index"></span>
			</div>
		</div>       
        <div id="showItem-markdown1" class="darkness ">Alkoholhalt: {{ beer.beerAbv }}%</div>
        <div class="darkness">Rating: {{ beer.rating }} / 5</div>
        <div class="articleNumberListing">Varunummer: <span ng-repeat="id in beer.matchingIds track by $index" class="articleNumber">{{ id }}</span></div>
        <div class="spacer" style="height: 100px;"></div>
    </ion-content>
</ion-view>