<ion-view title="Top List" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="topList-list5" class=" ">
            <ion-item class="item-icon-left darkness  " id="topList-list-item24" ui-sref="tabsController.showItem" ng-repeat="beer in ratedBeer track by $index" ng-click="showBeer(beer)">
                <i class="icon ion-beer"></i>{{ beer.name }} — {{ beer.brewery }}<!-- {{ beer.rating }}--></ion-item>
        </ion-list>
    </ion-content>
</ion-view>