

/************* Ratings *************/
/***********************************/

@mixin starPart {
    content:'\2605';
    color: $starLitColor;
    position: absolute;
    overflow: hidden;
    margin-left: -24px;
}

.rating {

    margin-bottom:8px;

    .star {
        font-size: x-large;
        width: 24px;
        display: inline-block;
        color: $starUnlitColor;
    }
    .star:last-child {
        margin-right: 0;
    }
    .star:before {
        content:'\2605';
    }
    .star.on {
        color: $starLitColor;
    }
    .star.half:after {
        @include starPart;
        width: 12px; 
    }
    .star.quarter:after {
        @include starPart;
        width: 8px; 
    }
    .star.threeQuarter:after {
        @include starPart;
        width: 16px; 
    }

}


/************ ArticleNr ************/
/***********************************/

.articleNumber {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    margin-right: 7px;
    border: 1px solid #eee; 
}



