

/************* Ratings *************/
/***********************************/

.star {
    font-size: x-large;
    width: 24px;
    display: inline-block;
    color: #fff0a0;
}
.star:last-child {
    margin-right: 0;
}
.star:before {
    content:'\2605';
}
.star.on {
    color: gold;
}
.star.half:after {
    content:'\2605';
    color: gold;
    position: absolute;
    margin-left: -24px;
    width: 12px; 
    overflow: hidden;
}
.star.quarter:after {
    content:'\2605';
    color: gold;
    position: absolute;
    margin-left: -24px;
    width: 8px; 
    overflow: hidden;
}
.star.threeQuarter:after {
    content:'\2605';
    color: gold;
    position: absolute;
    margin-left: -24px;
    width: 16px; 
    overflow: hidden;
}

.rating {
    margin-bottom:8px;
}

/************ ArticleNr ************/
/***********************************/

.articleNumber {
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 3px;
    border: 1px solid #ccc;
}



