
/******************************************************************/
/*************************** COLORS *******************************/
/******************************************************************/

/************** Stars **************/
/***********************************/

$starLitColor: gold; /* #FFD700 */
$starUnlitColor: #fff0a0;


/*
$defaultTextColor: #202020; 
$defaultLinkColor: $defaultTextColor;
$defaultLinkHoverColor: #30F010;

$backgroundPrimaryColor: #e0e0e0;
$backgroundSecondaryColor: #26004A;
$backgroundColorContainer: #eeeeee;
*/